{include file="public/header" /}
<div class="pagebg sh"></div>
<div class="container">

    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
        <legend id="num"></legend>
    </fieldset>
    <div class="site-demo-button">
        <ul id = 'container'>

        </ul>
    </div>

</div>
<input id="uid" type="hidden" value=<?php echo session('uid');?> >

<script>
    var uid = $('#uid').val();
    if(uid) {
        // $.ajax({
        //     url:'/index/socket/getList',
        //     type:'POST',
        //     data:{uid:uid},
        //     success:function (data) {
        //         console.log(data);
        //         var data2 = JSON.parse(data);
        //         var group = data2.data.friend[0].list;
        //         var str = '';
        //         //对数据做遍历，拼接到页面显示
        //         for(var i=0;i<group.length;i++){
        //             str += '<div class="item">'+
        //                 '<div class="item-title">'+ '用户名：'+ group[i].username +'</div>'+
        //                 '</div>';
        //         }
        //         //放入页面的容器显示
        //         $('#container').html(str);
        //         $('#num').html('当前在线人数: '+data2.count);
        //
        //     }
        // });
        //演示代码
        layui.use('layim', function () {
            var layim = layui.layim;
//自定义客服窗口
            var ws = new WebSocket("ws://139.224.9.252:9502");
            // var ws = new WebSocket("ws://192.168.33.10:9502");
            ws.onopen = function () {
                console.log("连接成功");
                uid = $("#uid").val();
                res = JSON.stringify({'type': 'bind', 'name': name, 'msg': "绑定", 'uid': uid});
                ws.send(res);
            };
            layim.on('sendMessage', function (res) {
                var mine = res.mine; //包含我发送的消息及我的信息
                var to = res.to; //对方的信息
                //监听到上述消息后，就可以轻松地发送socket了，如：
                ws.send(JSON.stringify({
                    type: 'say' //随便定义，用于在服务端区分消息类型
                    , data: res
                }));
            })
            //收到消息 触发回调
            ws.onmessage = function (res) {
                var data = JSON.parse(res.data);
                // console.log(data);
                layim.getMessage({
                    username: data.username //消息来源用户名
                    , avatar: data.avatar //消息来源用户头像
                    , id: data.id //消息的来源ID（如果是私聊，则是用户id，如果是群聊，则是群组id）
                    , type: "friend" //聊天窗口来源类型，从发送消息传递的to里面获取
                    , content: data.content  //消息内容
                });
            };
            ws.onclose = function () {
                $.ajax({
                    url:'/index/socket/aa',
                        type:'POST',
                        data:{uid:uid},
                        success:function (data) {

                        }
                })
                alert("连接已关闭...");
                console.log("连接已关闭...");
            };
            ws.onerror = function()
            {
                alert('error');
            };

            layim.config({
                init: {
                    url: '/index/socket/getList?uid=' + uid, //接口地址（返回的数据格式见下文）
                }
            });
            layim.setChatMin(); //收缩聊天面板
        });
    }
</script>
</html>